body {
    font-family: 'Arial', sans-serif;
}

.banner {
    min-height: 60vh;
    display: flex;
    align-items: center;
    position: relative;
}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4); /* Overlay gelap untuk teks lebih terbaca */
    z-index: 1;
}

.banner .container {
    position: relative;
    z-index: 2;
}

.logo-header {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.company-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}
